<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <a
        mat-list-item
        routerLink="/employees"
        style="
          font-size: 40px;
          font-weight: 900;
          padding: 24px 32px;
          margin-bottom: 24px;
          line-height: 1.6;
          display: flex;
          align-items: center;
          box-sizing: border-box;
        "
      >
        <mat-icon
          style="
            font-size: 48px;
            margin-right: 20px;
            display: inline-block;
            vertical-align: middle;
          "
          >group</mat-icon
        >
        <span style="margin-left: 10px">Employees</span>
      </a>
      <a
        mat-list-item
        routerLink="/customers"
        style="
          font-size: 40px;
          font-weight: 900;
          padding: 24px 32px;
          margin-bottom: 24px;
          line-height: 1.6;
          display: flex;
          align-items: center;
          box-sizing: border-box;
        "
      >
        <mat-icon
          style="
            font-size: 48px;
            margin-right: 20px;
            display: inline-block;
            vertical-align: middle;
          "
          >person</mat-icon
        >
        <span style="margin-left: 10px">Customers</span>
      </a>
      <a
        mat-list-item
        routerLink="/inventory-items"
        style="
          font-size: 40px;
          font-weight: 900;
          padding: 24px 32px;
          margin-bottom: 24px;
          line-height: 1.6;
          display: flex;
          align-items: center;
          box-sizing: border-box;
        "
      >
        <mat-icon
          style="
            font-size: 48px;
            margin-right: 20px;
            display: inline-block;
            vertical-align: middle;
          "
          >inventory</mat-icon
        >
        <span style="margin-left: 10px">Inventory Items</span>
      </a>
      <a
        mat-list-item
        routerLink="/suppliers"
        style="
          font-size: 40px;
          font-weight: 900;
          padding: 24px 32px;
          margin-bottom: 24px;
          line-height: 1.6;
          display: flex;
          align-items: center;
          box-sizing: border-box;
        "
      >
        <mat-icon
          style="
            font-size: 48px;
            margin-right: 20px;
            display: inline-block;
            vertical-align: middle;
          "
          >business</mat-icon
        >
        <span style="margin-left: 10px">Suppliers</span>
      </a>
      <a
        mat-list-item
        routerLink="/sales-orders"
        style="
          font-size: 40px;
          font-weight: 900;
          padding: 24px 32px;
          margin-bottom: 24px;
          line-height: 1.6;
          display: flex;
          align-items: center;
          box-sizing: border-box;
        "
      >
        <mat-icon
          style="
            font-size: 48px;
            margin-right: 20px;
            display: inline-block;
            vertical-align: middle;
          "
          >receipt</mat-icon
        >
        <span style="margin-left: 10px">Sales Orders</span>
      </a>
      <a
        mat-list-item
        routerLink="/purchase-orders"
        style="
          font-size: 40px;
          font-weight: 900;
          padding: 24px 32px;
          margin-bottom: 24px;
          line-height: 1.6;
          display: flex;
          align-items: center;
          box-sizing: border-box;
        "
      >
        <mat-icon
          style="
            font-size: 48px;
            margin-right: 20px;
            display: inline-block;
            vertical-align: middle;
          "
          >shopping_cart</mat-icon
        >
        <span style="margin-left: 10px">Purchase Orders</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
